.overview-container{
    display: flex;
    width: 100%;
}
div.product-overview{
    display: inline-block;
    width: 50%;
}

.product-logo{
    border-radius: 10px;
    width: 12rem;
    border: 1px solid lightgray;
    padding: 10px;
}

.product-img-container{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.product-img-container h1{
    margin-left: 0;
}

.prod-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.support-container{
    display: flex;
    width: 100%;
}

.support-container> div{
    flex: 1 1 auto;
}

.support-container> div > div{
    margin: 10px;
}